<?xml version="1.0" encoding="UTF-8"?>
<extentreports>
     <configuration>
          <!-- report theme -->
          <!-- standard, dark -->
          <theme>standard</theme>
          <!-- document encoding -->
          <!-- defaults to UTF-8 -->
          <encoding>UTF-8</encoding>
          <!-- protocol for script and stylesheets -->
          <!-- defaults to https -->
          <protocol>https</protocol>
          <!-- title of the document -->
          <documentTitle>Banking Report</documentTitle>
          <!-- report name - displayed at top-nav -->
          <reportName>Automation Execution Report</reportName>
          <!-- location of charts in the test view -->
          <!-- top, bottom -->
          <testViewChartLocation>bottom</testViewChartLocation>
          <!-- custom javascript -->
          <scripts>  <![CDATA[$(document).ready(function () {});]]>
          </scripts>
          <scripts>
 <![CDATA[var col1 = document.querySelectorAll('table td.step-name');
        [].forEach.call(col1, (e) => {
            "use strict";
            console.log(e);
            if (e.innerHTML.includes('200')) {
                e.style.setProperty('color', '#1e9a4a', 'important');
            } else {
                e.style.setProperty('color', '#f26b3a', 'important');
            }
        });
    ]]>                                                                                                                      
 <![CDATA[$("table td.step-details").each(function (index) {
            var library = {};
            library.json = {
                replacer: function (match, pIndent, pKey, pVal, pEnd) {
                    var key = '<span class=json-key>';
                    var val = '<span class=json-value>';
                    var str = '<span class=json-string>';
                    var r = pIndent || '';
                    if (pKey)
                        r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
                    if (pVal)
                        r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
                    return r + (pEnd || '');
                },
                prettyPrint: function (obj) {
                    var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
                    return JSON.stringify(obj, null, 3)
                    .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                    .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                    .replace(jsonLine, library.json.replacer);
                }
            };
            var account = $(this).text();
            console.log(index + ": " + $(this).text());
            try {
                eval('var obj=' + account);
                $(this).html(library.json.prettyPrint(obj));
            } catch (err) {
                return;
            }
        });
    ]]>   
     <![CDATA[
        $("div.test-steps > table > tbody > tr > td.step-details > span:nth-child(1)").each(function (index) {
            var account = $(this);
            console.log(index + ": " + $(this).text());
            if (account.text() == 'CUSTOMIZED_RESPONSE_JSON') {

                account.append(
                    $('<span>').prop({
                        id: 'innerdiv',
                        innerHTML: '&#8623;',
                        className: 'border pad'
                    }));

            }
        });
        $("td.step-details > span:nth-child(4)").each(function (index) {
            var account = $(this);
            console.log(index + ": " + $(this).text());
            if (account.text() == 'ORIGINAL_RESPONSE') {

                account.append(
                    $('<span>').prop({
                        id: 'innerdiv',
                        innerHTML: '&#8609;',
                        className: 'border pad'
                    }));

            }
        });
    ]]>
     <![CDATA[var footerdiv = document.createElement('div');
        footerdiv.className = 'footer';
        document.getElementsByTagName('body')[0].appendChild(footerdiv);
        var innerDiv = document.createElement('div');
        var superText1 = '&#8476;';
        innerDiv.className = 'block-2';
        footerdiv.appendChild(innerDiv);
        innerDiv.innerHTML = superText1.sup() + ' Reskin By - Shivakumar Billur/9284825700';
        var innerDiv1 = document.createElement('dakshina');
        innerDiv1.className = 'shivakumar-reskin';
        footerdiv.appendChild(innerDiv1);
        var superText = '&#8482;';
        innerDiv1.innerHTML = 'Profinch Solutions Pvt. Ltd.' + superText.sup();
        var uzbbankDiv = document.createElement('UZB');
        uzbbankDiv.className = 'UZB-Copy';
        footerdiv.appendChild(uzbbankDiv);
        uzbbankDiv.innerHTML = 'Copyright &#169; Uzbekistan Bank. All rights reserved.';
    ]]>
     <![CDATA[
   $(document).ready(function() {
    var $meta = $('meta[name=viewport]').attr('content', 'width=device-width, initial-scale=1.0');
    $('meta[name=description]').attr('content', $('#dashboard-view > div.system-view > div > div > table > tbody > tr:nth-child(6) > td:nth-child(2)').text() + " Uzbekistan Bank Automation Test Report");
    $("head").append('<meta http-equiv="Content-Type" content="text/html; charset=utf-8">');
    $("head").append('<meta name="viewport" content="width=device-width, initial-scale=1.0">');
    var metadec = "Profinch-" + $('#dashboard-view > div.system-view > div > div > table > tbody > tr:nth-child(6) > td:nth-child(2)').text() + "-Uzbekistan Bank Automation Test Report";
    $("head").append('<meta name="description" content="' + metadec + '">');
    $("head").append('<meta name="robots" content="follow, index">');
    $("head").append('<link rel="canonical" href=' + window.location.href + '>');
    $("head").append('<meta name="robots" content="follow, index">');
    $("head").append('<meta name="keywords" content="HTML,CSS,XML,JavaScript, Profinch, UZB">');
    $("head").append('<meta name="author" content="Shivakumar Billur">');
    $("head").append('<meta name="author contact" content="(91)928 4825 700">');
    var name = "Profinch(UZB_" + $('#dashboard-view > div.system-view > div > div > table > tbody > tr:nth-child(5) > td:nth-child(2)').text() + "_Automation Test Extend Report)";
    $("head").append('<meta property="og:site_name" content="' + name + '">');
    $("head").append('<meta property="og:type" content="website">');
    $("head").append('<meta property="og:url" content=' + window.location.href + '>');
    $("head").append('<meta property="og:title" content="Uzbekistan Bank | UZB">');
    $("head").append('<meta property="og:description" content="' + $('#test-details-wrapper > div > div > div.details-container > div > div.test-desc').text() + '">');
    $("head").append('<meta property="og:image" content="' + $('nav > span.report-name > a > img').prop('src') + '">');
});
         
     ]]>
          </scripts>
          <!-- custom styles -->
          <styles><![CDATA[<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />]]>
			<![CDATA[.featherlight-image { cursor: help; } ]]>
			<![CDATA[ .report-name { padding-left: 10px; } .report-name > img { float: left;height: 90%;margin-left: 30px;margin-top: 2px;width: auto;} ]]>
			<![CDATA[ .dark nav, .dark .side-nav {background: #ce0000;} ]]>
			<![CDATA[ nav {background-color: #ce0000!important;padding-left: 70px; position: fixed; z-index: 1;} ]]>
			<![CDATA[ h5.details-name {color: #15238f; text-transform: capitalize;} ]]>
			<![CDATA[ thead>tr>th { color: #15238f !important; font-weight: bold;} ]]>
			<![CDATA[ li.analysis.waves-effect.active { background: #15238f;} ]]>
			<![CDATA[ ul#slide-out { background: #15238f; } ]]>
			<![CDATA[ .nav-right li { border-left: 0px solid #ce0000 !important; font-size: 12px;padding: 0 10px; } ]]>
			<![CDATA[ .nav-right li { color; #fff !important } ]]>
			<![CDATA[ .side-nav.fixed a, .side-nav li>a { color: #fff !important } ]]>
			<![CDATA[ a.test-view {color: #ce0000 !important; } ]]>
			<![CDATA[ .side-nav li:hover, .side-nav li.active { background-color: #ce0000!important; } ]]>
			<![CDATA[ li.analysis.waves-effect.active { background: #ce0000;} ]]>
			<![CDATA[ .logo-container { display: none; } ]]>
			<![CDATA[ li.theme-selector { display: none !important; } ]]>
			<![CDATA[ li.theme-selector { display: none;} ]]>
			<![CDATA[ li.analysis.waves-effect.active { color: white !important; } ]]>
			<![CDATA[ .blue-grey.lighten-3 { background-color: #922a8e!important;} ]]>
			<![CDATA[ .red.lighten-2 { background-color: #ec2028 !important;} ]]>
			<![CDATA[ .green.lighten-2 { background-color: #0773bb!important;} ]]>
			<![CDATA[.col.s12.m12.l4.fh>div { background: #ce0000;} ]]>
			<![CDATA[.col.s12.m12.l4.fh span.panel-name { color: white; font-family: Arial; } ]]>
			<![CDATA[.col.s12.m12.l4.fh span.pass-percentage { color: white; } ]]>
			<![CDATA[.col.s12.m12.l4.fh>div>span.pass-percentage panel-lead {color: white; font-family:"Arial";} ]]>
			<![CDATA[.card-panel table>tbody td:nth-child(1) { background: #15238f; color: white !important; font-family: initial; border: 1px solid !important; } ]]>
			<![CDATA[.card-panel, .card { background: #f0f1f1; border-radius: 5px; box-shadow: black; background: linear-gradient(to var(--form-gradient-direction),var(--form-gradient-start-color),var(--form-gradient-end-color));box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); overflow: auto !important;word-break: break-word;} ]]>
			<![CDATA[.col.l2.m4.s6 { background-color: #f0f1f1 !important; border-radius: 5px; box-shadow: black;} ]]>
			<![CDATA[.card-panel table>tbody td:nth-child(2) { color: #202429!important; font-family: initial;} ]]>
			<![CDATA[.label.outline { border: 1px solid !important; border-radius: 3px !important; margin-top: 0 !important; padding: 2px 5px !important;} ]]>
			<![CDATA[.panel-lead { display: block; font-size: 50px; text-align: center;} ]]>
			<![CDATA[body { background: #fff !important; user-select: none !important;} ]]>
			<![CDATA[#dashboard-view .progress {margin-top: 0px;} ]]>
			<![CDATA[.card-panel.heading>h5 {display: none;} ]]>
			<![CDATA[.card-panel.heading:after { display: inline; content: "@Test/Automation Test Case"; text-transform: capitalize; color: #15238f; font-size: 20px; font-family: var(--base-font-weight-bold); font-weight: bold;} ]]>
			<![CDATA[.featherlight .featherlight-close-icon { position: absolute; z-index: 9999; top: 0; right: 0;line-height: 25px; width: 25px; cursor: pointer; text-align: center; ]]>
			<![CDATA[font-family: Arial,sans-serif; background: #f03861; background: rgba(240, 56, 97,.3); color: #fff !important; border-color: var(--button-tertiary-border-color); color: var(--button-tertiary-foreground-color); border-width: var(--button-tertiary-border-width); font-size: var(--button-tertiary-font-size); font-weight: var(--button-tertiary-font-weight); border-radius: 100%;} ]]>
			<![CDATA[span.featherlight-close-icon.featherlight-close:hover {transform: rotate(45deg);} ]]>
			<![CDATA[div#dashboard-view .label.outline { background: #fff!important; color: #202429!important; border-color: #939598 !important; border-width: 1.59375px !important; background-size: auto !important; cursor: pointer; }]]>
			<![CDATA[div#dashboard-view .label.outline:hover { border-color: #202429 !important;}]]>
			<![CDATA[.status.skip, .skip > i { color: gold ! important; }]]>
			<![CDATA[.status.fail, .fail i { color: #FC100D; }]]>
			<![CDATA[.featherlight .featherlight-content { position: relative; text-align: left; vertical-align: middle; display: inline-block; overflow: unset !important; padding: 25px 25px 0; border-bottom: 25px solid transparent; min-width: 30%; margin-left: 5%; margin-right: 5%; max-height: 95%; background: unset !important; cursor: auto; white-space: normal; }]]>
			<![CDATA[.footer { left: 0; bottom: 0; width: 100%; background-color: #ce0000!important; height: 15px; position: fixed;height: 17px;text-align: inherit !important;z-index: 1; }]]>
			<![CDATA[.footer>div { text-align: end; line-height: normal; width: 100%; cursor: none; position: fixed; font-family: cursive; font-size: xx-small; color: white; }]]>
			<![CDATA[.footer>shivakumar { color: white; font-family: serif; font-size: small; line-height: initial; display: inline-table; vertical-align: top; min-height: 10em; overflow: hidden; text-align: start; min-height: 10em; }]]>
			<![CDATA[.side-nav { background:0 ; transition-duration: .25s; top:0 ; width: 60px; border-right: 0px !important;margin-top: 48px;height: 100%;}]]>
			<![CDATA[.container { max-width: none !important; width: 100% !important; padding-top: 65px; margin: auto !important; box-sizing: inherit !important;}]]>
			<![CDATA[.UZB-Copy { color: white; padding-left: 30% !important; line-height: inherit !important; font-size: smaller; display: inline-table; vertical-align: middle; min-height: 10em; overflow: hidden; text-align: start; overflow: hidden; text-align: start; min-height: 10em;}]]>
			<![CDATA[sup { top: -0.3em; color: floralwhite; font-weight: 900; font-family: auto; overflow: hidden; text-align: start; overflow: hidden; text-align: start; min-height: 10em;}]]>
			<![CDATA[td.step-details { white-space: break-spaces !important; height: 200px; padding: 10px; overflow-x: auto !important; float: left; overflow: scroll; width: -webkit-fill-available !important; font-weight: normal !important; background-color: #f5f5f5 !important; font-family: monospace;}]]>
			<![CDATA[.test-steps th:nth-child(4){visibility: hidden; position: relative}]]>
			<![CDATA[.test-steps th:nth-child(4):after { content: "Response Body";visibility: visible; position: relative; padding-left: 80px;}]]>
			<![CDATA[.test-steps th:nth-child(3){visibility: hidden; position: relative; padding-right: 223px;}]]>
			<![CDATA[.test-steps th:nth-child(3):after { content: "Test Result";visibility: visible; position: absolute; }]]>
			<![CDATA[td.step-details::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); border-radius: 10px; background-color: #CCCCCC; }]]>
			<![CDATA[td.step-details::-webkit-scrollbar { width: 12px; background-color: #F5F5F5; }]]>
			<![CDATA[td.step-details::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #cd0000; background-image: -webkit-linear-gradient(90deg, transparent, rgba(21, 35, 143, 0.4) 50%, transparent, transparent); }]]>
			<![CDATA[td.step-name{ padding-left: 120px;word-wrap: break-word; color: #54790d !important; font-weight: bolder;padding-left: 70px !important;}]]>
			<![CDATA[.test-desc{margin-bottom: 10px; color: chocolate; font-family: cursive; font-weight: 500;}]]>
			<![CDATA[.json-key { color: #ba4360; }]]>
			<![CDATA[.json-value { color: green; }]]>
			<![CDATA[.json-string { color: #7298c5; }]]>
            <![CDATA[div#error_response { color: #eb3941; }]]>
            <![CDATA[div#refer_resp { color: #1a0dab; font-size: xx-small; cursor: pointer; }]]>
            <![CDATA[span#hand_icon { font-size: small;}]]>
            <![CDATA[div#refer_resp:hover { text-decoration: underline !important; }]]>
            <![CDATA[::-webkit-scrollbar { width: 5px; height: 5px;}]]>
            <![CDATA[::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #D62929; background-image: -webkit-linear-gradient( 90deg , transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);}]]>
            <![CDATA[::-webkit-scrollbar-track { 	background-color: #fff;}]]>
            <![CDATA[.test-steps th:first-child, .test-steps td:first-child{text-align: left !important; max-width: 65px !important; width: auto !important;}]]>
            <![CDATA[.status i { font-size :3rem !important;}]]>
            <![CDATA[.card.green-accent {width: 97% !important;}]]>
            <![CDATA[.test-name, .category-name {font-size: 14px !important; font-family: monospace !important;}]]>
            <![CDATA[.card.pink-accent { background: #f96868 !important; text-align: end !important;}]]>
            <![CDATA[span#innerdiv { padding-left: 10px;font-weight: bolder;padding-right: 6px;color: blue; cursor: pointer;}]]>
            <![CDATA[thead {word-break: keep-all !important; }]]>
            <![CDATA[span#innerdiv:hover {color: navy; }]]></styles>
     </configuration>
</extentreports>